<%- include('../partials/header', {title: 'Edit Coffee Shop', stylesheet: ""}) %>
<%- include('../partials/navbar', {nav: 'nav'}) %>
<!-- New coffee shop form -->
<div class="container container--center">
    <div class="card card--form">
        <h2 class="card__title">Edit Coffee Shop</h2>
        <div class="card__body">
            <form action="/coffeeShops/<%=coffeeShop._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                <input type="text" name="coffeeShop[name]" value="<%=coffeeShop.name%>" autofocus required>
                <input type="text" name="coffeeShop[price]" value="<%=coffeeShop.price%>" required>
                <textarea name="coffeeShop[description]" cols="40" rows="5" required><%=coffeeShop.description%></textarea>
                <input type="file" name="coffeeShop[images]" multiple>
                <button class="button">Submit</button>
            </form>
        </div>
    </div>
</div>

<script src="/javascripts/general.js"></script>
</body>
</html>