<%- include('../partials/header', {title: 'Coffee Shop Showpage', stylesheet: ""}) %>
<%- include('../partials/navbar', {nav: 'nav margin-0'}) %>


<!-- Coffee Shop -->
<div class="container container--100">
  <div class="card card--showpage carousel">
    <% for(let i = 0; i < coffeeShop.images.length; i++) { %>
    <img class="active carousel__image" data-src="<%=coffeeShop.images[i].filename%>" alt="...">
    <% } %>
    <svg class="button--svg button--left" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
      <!-- <circle cx="20" cy="20" r="20" fill="#aaa5" stroke="none"/> -->
      <path d="M 25,10 L 15,20 L 25,30" fill="none" stroke-width="2px"></path>
    </svg>
    <svg class="button--svg button--right" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
      <!-- <circle cx="20" cy="20" r="20" fill="#aaa5" stroke="none"/> -->
      <path d="M 15,10 L 25,20 L 15,30" fill="none" stroke-width="2px"></path>
    </svg>
    <div class="card__title">
      <h3><%=coffeeShop.name%></h3>
    </div>
  </div>
</div>

<!-- DESCRIPTION -->
<div class="container margin-top">
  <p class="white"><%=coffeeShop.description%></p>
  <%if(String(currentUser._id) === String(coffeeShop.author._id) && user) {%>
  <div class="container container--flex">
    <a class="button" href="/coffeeShops/<%=coffeeShop._id%>/edit">Edit</a>
    <form action="/coffeeShops/<%=coffeeShop._id%>?_method=DELETE" method="POST">
      <button class="button button--delete height--100">Delete</button>
    </form>
  </div>
  <%}%>
</div>

<!-- REVIEW SECTION -->
<div class="container margin-top">

    <!-- Slightly different message depending on if there are reviews or not -->
    <%if(coffeeShop.reviews.length === 0) {%>
  <h3>Be the first to review this cafe!</h3>
  <%} else {%>
  <h3>Reviews</h3>
  <%}%>


    <!-- Slightly different "make a comment" template shown depending on if the user is logged in or not -->
    <%if(!user) {%>
  <form action="/coffeeShops/<%=coffeeShop._id%>/reviews" method="POST">
    <div class="comment">
      <div class="comment__picture">
        <img src="<%=currentUser.profilePicture.url%>" alt="">
      </div>
      <div class="comment__main">
        <div class="comment__main__body flex flex--column">
          <a href="/login"><input class="input" type="text" name="review[body]" placeholder="Leave a review..."
              required></a>
          <svg xmlns="http://www.w3.org/2000/svg" class="line" viewBox="0 0 40 2" preserveAspectRatio="none">
            <path d="M0 1 L40 1"></path>
            <path d="M0 1 L40 1" class="focus"></path>
          </svg>
          <input type="hidden" name="review[author]" value="<%=currentUser._id%>">
        </div>
        <div class="comment__aside hide">
          <div class="comment__aside__rating">
            <svg class="stars--parent" xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com"
              viewBox="0 0 2500 500" version="1.1">
              <rect class="stars stars--inner stars--custom" x="0" y="0" width="1250" height="500"
                style="mask: url(#mask5)" />
              <rect class="stars stars--outer stars--set" x="0" y="0" width="2500" height="500" fill="url(#pattern2)"
                style="mask: url(#mask1)" />
            </svg>
            <input type="number" name="review[rating]" min="0" max="5" step="0.01" class="stars--rating label">
          </div>
          <div class="comment__aside__buttons justify-end">
            <button type="button" class="button cancel transparent">Cancel</button>
            <button class="button">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <%} else {%>
  <form action="/coffeeShops/<%=coffeeShop._id%>/reviews" method="POST">
    <div class="comment">
      <div class="comment__picture">
        <img src="<%=currentUser.profilePicture.url%>" alt="">
      </div>
      <div class="comment__main">
        <div class="comment__main__body flex flex--column">
          <input class="input" type="text" name="review[body]" placeholder="Leave a review..." required>
          <svg xmlns="http://www.w3.org/2000/svg" class="line" viewBox="0 0 40 2" preserveAspectRatio="none">
            <path d="M0 1 L40 1"></path>
            <path d="M0 1 L40 1" class="focus"></path>
          </svg>
          <input type="hidden" name="review[author]" value="<%=user._id%>">
        </div>
        <div class="comment__aside hide">
          <div class="comment__aside__rating">
            <svg class="stars--parent" xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com"
              viewBox="0 0 2500 500" version="1.1">
              <rect class="stars stars--inner stars--custom" x="0" y="0" width="1250" height="500"
                style="mask: url(#mask5)" />
              <rect class="stars stars--outer stars--set" x="0" y="0" width="2500" height="500" fill="url(#pattern2)"
                style="mask: url(#mask1)" />
            </svg>
            <input type="number" name="review[rating]" min="0" max="5" step="0.01" class="stars--rating label">
          </div>
          <div class="comment__aside__buttons justify-end">
            <button type="button" class="button cancel transparent">Cancel</button>
            <button class="button">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <%}%> 
    

    <!-- display all the reviews for this coffeeshop  -->
    <%for(let i = 0; i < coffeeShop.reviews.length; i++) {%>
  <div class="container--100">
    <div class="comment">
      <div class="comment__picture">
        <img src="<%=coffeeShop.reviews[i].author.profilePicture.url%>" alt="">
      </div>
      <div class="comment__main">
        <div class="comment__main__title">
          <%=coffeeShop.reviews[i].author.username%>
          <!-- SVG STARS -->
          <svg class="stars--parent" xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com"
            viewBox="0 0 2500 500" version="1.1">
            <rect class="stars stars--outer" x="0" y="0" width="2500" height="500" fill="url(#pattern2)"
              style="mask: url(#mask1)" />
            <rect class="stars stars--inner" x="0" y="0" width="<%=coffeeShop.reviews[i].starRating%>" height="500"
              style="mask: url(#mask5)" />
          </svg>
        </div>
        <div class="comment__main__body">
          <%=coffeeShop.reviews[i].body%>
        </div>
      </div>
    </div>
  </div>
  <%}%>
</div>



<script src="/javascripts/loaduser.js"></script>
<script src="/javascripts/showpage.js"></script>

<!-- SVG Definition-->
<svg xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com" viewBox="0 0 2500 500" version="1.1">
    <defs>
        <pattern id="pattern1" x="0" y="0" width="500" height="500" patternUnits="userSpaceOnUse">
            <path d="M 354.667 186.497 L 404.728 279.884 L 504.667 301.087 L 435.667 380.006 L 447.372 486.497 L 354.667 441.884 L 261.962 486.497 L 273.667 380.006 L 204.667 301.087 L 304.606 279.884 Z" style="stroke-linecap: round; stroke-linejoin: round; stroke-width: 8px; fill: rgb(255, 255, 255);" transform="matrix(1, 0.000054, -0.000054, 1, -104.648837, -86.516146)" bx:shape="star 354.667 352.333 157.719 165.836 0.54 5 1@aca9c76d" bx:origin="0.500924 0.494259"/>
        </pattern>
        <pattern id="pattern2" x="0" y="0" width="500" height="500" patternUnits="userSpaceOnUse">
            <path d="M 354.667 131.218 L 421.415 255.735 L 554.667 284.005 L 462.667 389.23 L 478.274 531.219 L 354.667 471.735 L 231.06 531.219 L 246.667 389.23 L 154.667 284.005 L 287.919 255.735 Z" style="stroke-linecap: round; stroke-linejoin: round; stroke-width: 8px; fill: rgb(255, 255, 255);" transform="matrix(1, -0.000051, 0.000051, 1, -104.683894, -81.200404)" bx:shape="star 354.667 352.333 210.292 221.115 0.54 5 1@4152cf12" bx:origin="0.5 0.5"/>
            <path d="M 354.667 158.858 L 413.071 267.81 L 529.667 292.546 L 449.167 384.618 L 462.823 508.858 L 354.667 456.81 L 246.511 508.858 L 260.167 384.618 L 179.667 292.546 L 296.263 267.81 Z" style="stroke-linecap: round; stroke-linejoin: round; stroke-width: 8px;" transform="matrix(1, 0.000054, -0.000054, 1, -104.648975, -83.877154)" bx:shape="star 354.667 352.333 184.006 193.475 0.54 5 1@c125bbbd" bx:origin="0.5714 0.476826"/>
        </pattern>
        <mask id="mask1" x="0" y="0" width="2500" height="500">
          <rect x="0" y="0"  width="2500" height="500"
              style="stroke:none; fill: url(#pattern2)"/>
        </mask>
        <mask id="mask5" x="0" y="0" width="2500" height="500">
          <rect x="0" y="0"  width="2500" height="500"
              style="stroke:none; fill: url(#pattern1)"/>
        </mask>
    </defs>
</svg>
</body>
</html>