<%- include('../partials/header', {title: 'User Page', stylesheet: "/stylesheets/user.css"}) %>
<%- include('../partials/navbar', {nav: 'nav'}) %>

<div class="profileContainer">
  <div class="profile">
    <div class="userPicture">
      <img
        src="https://res.cloudinary.com/christianjosuebt/image/upload/coffeeShops/<%=userProfile.profilePicture.filename%>">
      </img>
    </div>
    <p class="username"><%=userProfile.username%></p>
  </div>
  <div class="bio carousel--linked">
    <% for(let i = 0; i < userProfile.reviews.length; i++) { %>
    <% if(i === 0) { %>
    <p class="carousel__bottom active"><%=userProfile.reviews[i].body.slice(0,50)%>...</p>
    <% } else { %>
    <p class="carousel__bottom"><%=userProfile.reviews[i].body.slice(0,50)%></p>
    <% }} %>
  </div>
  <div class="reviews carousel--linked">
    <% for(let i = 0; i < userProfile.reviews.length; i++) { %>
    <% if(i === 0) { %>
    <a href="/coffeeShops/<%=userProfile.reviews[i].coffeeshop._id%>">
      <img class="active carousel__image" data-src="<%=userProfile.reviews[i].coffeeshop.images[0].filename%>"
        alt="...">
    </a>
    <% } else { %>
    <a href="/coffeeShops/<%=userProfile.reviews[i].coffeeshop._id%>">
      <img class="carousel__image" data-src="<%=userProfile.reviews[i].coffeeshop.images[0].filename%>" alt="...">
    </a>
    <% }} %>
    <div class="card__image__bottom2">
      <div class="card card--item">
        <% for(let i = 0; i < userProfile.reviews.length; i++) { %>
        <% if(i === 0) { %>
        <h3 class="carousel__text active"><a
            href="/coffeeShops/<%=userProfile.reviews[i].coffeeshop._id%>"><%=userProfile.reviews[i].coffeeshop.name.split(/\s+/).slice(0,4).join(' ')%></a>
        </h3>
        <svg class="stars--parent active" xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com"
          viewBox="0 0 2500 500" version="1.1">
          <rect class="stars stars--outer" x="0" y="0" width="2500" height="500" fill="url(#pattern2)"
            style="mask: url(#mask1)" />
          <rect class="stars stars--inner" x="0" y="0" width="<%=userProfile.reviews[i].starRating%>" height="500"
            style="mask: url(#mask5)" />
        </svg>
        <% } else { %>
        <h3 class="carousel__text"><a
            href="/coffeeShops/<%=userProfile.reviews[i].coffeeshop._id%>"><%=userProfile.reviews[i].coffeeshop.name.split(/\s+/).slice(0,4).join(' ')%></a>
        </h3>
        <svg class="stars--parent" xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com"
          viewBox="0 0 2500 500" version="1.1">
          <rect class="stars stars--outer" x="0" y="0" width="2500" height="500" fill="url(#pattern2)"
            style="mask: url(#mask1)" />
          <rect class="stars stars--inner" x="0" y="0" width="<%=userProfile.reviews[i].starRating%>" height="500"
            style="mask: url(#mask5)" />
        </svg>
        <% }} %>
      </div>
    </div>
    <svg class="button--svg button--left hide">
      <use href="#svg--left"></use>
    </svg>
    <svg class="button--svg button--right hide">
      <use href="#svg--right"></use>
    </svg>
  </div>
</div>


<!-- SVG Definition -->

<svg xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com" viewBox="0 0 2500 500" version="1.1">
  <defs>
    <pattern id="pattern1" x="0" y="0" width="500" height="500" patternUnits="userSpaceOnUse">
      <path
        d="M 354.667 186.497 L 404.728 279.884 L 504.667 301.087 L 435.667 380.006 L 447.372 486.497 L 354.667 441.884 L 261.962 486.497 L 273.667 380.006 L 204.667 301.087 L 304.606 279.884 Z"
        style="stroke-linecap: round; stroke-linejoin: round; stroke-width: 8px; fill: rgb(255, 255, 255);"
        transform="matrix(1, 0.000054, -0.000054, 1, -104.648837, -86.516146)"
        bx:shape="star 354.667 352.333 157.719 165.836 0.54 5 1@aca9c76d" bx:origin="0.500924 0.494259" />
    </pattern>
    <pattern id="pattern2" x="0" y="0" width="500" height="500" patternUnits="userSpaceOnUse">
      <path
        d="M 354.667 131.218 L 421.415 255.735 L 554.667 284.005 L 462.667 389.23 L 478.274 531.219 L 354.667 471.735 L 231.06 531.219 L 246.667 389.23 L 154.667 284.005 L 287.919 255.735 Z"
        style="stroke-linecap: round; stroke-linejoin: round; stroke-width: 8px; fill: rgb(255, 255, 255);"
        transform="matrix(1, -0.000051, 0.000051, 1, -104.683894, -81.200404)"
        bx:shape="star 354.667 352.333 210.292 221.115 0.54 5 1@4152cf12" bx:origin="0.5 0.5" />
      <path
        d="M 354.667 158.858 L 413.071 267.81 L 529.667 292.546 L 449.167 384.618 L 462.823 508.858 L 354.667 456.81 L 246.511 508.858 L 260.167 384.618 L 179.667 292.546 L 296.263 267.81 Z"
        style="stroke-linecap: round; stroke-linejoin: round; stroke-width: 8px;"
        transform="matrix(1, 0.000054, -0.000054, 1, -104.648975, -83.877154)"
        bx:shape="star 354.667 352.333 184.006 193.475 0.54 5 1@c125bbbd" bx:origin="0.5714 0.476826" />
    </pattern>
    <mask id="mask1" x="0" y="0" width="2500" height="500">
      <rect x="0" y="0" width="2500" height="500" style="stroke:none; fill: url(#pattern2)" />
    </mask>
    <mask id="mask5" x="0" y="0" width="2500" height="500">
      <rect x="0" y="0" width="2500" height="500" style="stroke:none; fill: url(#pattern1)" />
    </mask>
  </defs>
</svg>
<!-- image buttons -->
<circle cx="20" cy="20" r="20" fill="#aaa5" stroke="none" />
<svg xmlns="http://www.w3.org/2000/svg">
  <symbol id="svg--left" viewBox="0 0 40 40">
    <path d="M 25,10 L 15,20 L 25,30" fill="none" stroke-width="2px"></path>
  </symbol>
</svg>
<svg xmlns="http://www.w3.org/2000/svg">
  <symbol id="svg--right" viewBox="0 0 40 40">
    <path d="M 15,10 L 25,20 L 15,30" fill="none" stroke-width="2px"></path>
  </symbol>
</svg>


<script src="/javascripts/loaduser.js"></script>
<script src="/javascripts/userpage.js"></script>
</body>

</html>